.inputs-text {
    display: flex;
    background-color: #f9f9f9;
    padding: 0.3rem 1rem;
    margin: 20px 10px 0 0 ;
    border-left: 3px solid #ff5353;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; 
    
    &:focus,
    &:hover {
        box-shadow: none !important;
        outline: none !important;
        background-color: white;
    }
    img {
        width: 23px;
        opacity: .5;
    }
    .input-text {
        border: none!important;
        outline: none !important;
        background-color: unset;
        font-size: 1rem;
        
        width: 200px !important;
        &:focus,
        &:hover {
            box-shadow: none !important;
            outline: none !important;
            background-color: unset;
        }
        color:rgb(53, 52, 52);
    }
}