
.sign-up {
    max-width: 350px!important;
    background-color: whitesmoke;
    font-family: 'sans' !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem 0.5rem;
    padding: 2rem;
}